In [1]:
import os
import sys
import time
import datetime as dt
import math
import numpy as np
import pandas as pd

In [2]:
from functions2 import *

if 0:
    get_historical_prices

In [3]:
global AlphaVantageKey
#basic key AlphaVantageKey = 'XEQ9AFU8KM035KMG'
#premium api key
AlphaVantageKey = 'ZTB6U564ILR50HU3'
PolygonKey = 'Vi1mo0Chz5tRFzzXwlfagn8haGBBvF1M'

In [4]:
import requests
ticker = 'AAPL'
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol='+ ticker + '&interval=5min&apikey='+AlphaVantageKey
r = requests.get(url)
data = r.json()

print(data)

{'Meta Data': {'1. Information': 'Intraday (5min) open, high, low, close prices and volume', '2. Symbol': 'AAPL', '3. Last Refreshed': '2025-03-05 19:55:00', '4. Interval': '5min', '5. Output Size': 'Compact', '6. Time Zone': 'US/Eastern'}, 'Time Series (5min)': {'2025-03-05 19:55:00': {'1. open': '235.7700', '2. high': '235.8000', '3. low': '235.5000', '4. close': '235.7823', '5. volume': '2604'}, '2025-03-05 19:50:00': {'1. open': '235.9300', '2. high': '235.9300', '3. low': '235.7500', '4. close': '235.7900', '5. volume': '1482'}, '2025-03-05 19:45:00': {'1. open': '235.8900', '2. high': '236.0200', '3. low': '235.8700', '4. close': '235.9300', '5. volume': '113'}, '2025-03-05 19:40:00': {'1. open': '235.8700', '2. high': '236.0900', '3. low': '235.8700', '4. close': '235.8900', '5. volume': '884'}, '2025-03-05 19:35:00': {'1. open': '236.0200', '2. high': '236.1000', '3. low': '235.8700', '4. close': '236.0900', '5. volume': '194'}, '2025-03-05 19:30:00': {'1. open': '236.2200', '2. high': '236.2300', '3. low': '235.8800', '4. close': '236.2288', '5. volume': '243'}, '2025-03-05 19:25:00': {'1. open': '236.2300', '2. high': '236.2300', '3. low': '235.8600', '4. close': '236.1100', '5. volume': '308'}, '2025-03-05 19:20:00': {'1. open': '236.1800', '2. high': '236.2300', '3. low': '235.8200', '4. close': '236.1800', '5. volume': '362'}, '2025-03-05 19:15:00': {'1. open': '236.2900', '2. high': '236.3900', '3. low': '236.0100', '4. close': '236.3388', '5. volume': '1777'}, '2025-03-05 19:10:00': {'1. open': '235.8500', '2. high': '236.2900', '3. low': '235.8000', '4. close': '236.2500', '5. volume': '2201'}, '2025-03-05 19:05:00': {'1. open': '235.8500', '2. high': '236.0000', '3. low': '235.8001', '4. close': '235.8050', '5. volume': '381'}, '2025-03-05 19:00:00': {'1. open': '235.7400', '2. high': '236.0000', '3. low': '235.7000', '4. close': '236.0000', '5. volume': '702'}, '2025-03-05 18:55:00': {'1. open': '235.8800', '2. high': '236.0000', '3. low': '235.7000', '4. close': '235.7000', '5. volume': '1392'}, '2025-03-05 18:50:00': {'1. open': '235.9997', '2. high': '236.0000', '3. low': '235.8500', '4. close': '236.0000', '5. volume': '1609'}, '2025-03-05 18:45:00': {'1. open': '235.8500', '2. high': '236.0000', '3. low': '235.8500', '4. close': '235.8700', '5. volume': '519'}, '2025-03-05 18:40:00': {'1. open': '235.9963', '2. high': '236.0000', '3. low': '235.8500', '4. close': '235.8600', '5. volume': '1944'}, '2025-03-05 18:35:00': {'1. open': '235.7678', '2. high': '235.9998', '3. low': '235.7400', '4. close': '235.8500', '5. volume': '2539'}, '2025-03-05 18:30:00': {'1. open': '236.3700', '2. high': '236.3700', '3. low': '235.7400', '4. close': '235.7400', '5. volume': '2451'}, '2025-03-05 18:25:00': {'1. open': '236.3800', '2. high': '236.3800', '3. low': '236.0300', '4. close': '236.3700', '5. volume': '798'}, '2025-03-05 18:20:00': {'1. open': '236.2000', '2. high': '236.3800', '3. low': '236.0300', '4. close': '236.1000', '5. volume': '674'}, '2025-03-05 18:15:00': {'1. open': '236.0900', '2. high': '236.4088', '3. low': '236.0200', '4. close': '236.3000', '5. volume': '2766'}, '2025-03-05 18:10:00': {'1. open': '236.1200', '2. high': '236.4100', '3. low': '236.0000', '4. close': '236.4100', '5. volume': '3097'}, '2025-03-05 18:05:00': {'1. open': '236.1000', '2. high': '236.2000', '3. low': '236.0000', '4. close': '236.2000', '5. volume': '880'}, '2025-03-05 18:00:00': {'1. open': '236.1200', '2. high': '236.4100', '3. low': '236.0400', '4. close': '236.2100', '5. volume': '8993'}, '2025-03-05 17:55:00': {'1. open': '236.1025', '2. high': '236.1908', '3. low': '236.0800', '4. close': '236.1500', '5. volume': '959'}, '2025-03-05 17:50:00': {'1. open': '236.1100', '2. high': '236.2000', '3. low': '236.0050', '4. close': '236.1025', '5. volume': '2917'}, '2025-03-05 17:45:00': {'1. open': '236.1100', '2. high': '236.2000', '3. low': '236.1000', '4. close': '236.1100', '5. volume': '610'}, '2025-03-05 17:40:00': {'1. open': '236.1035', '2. high': '236.3600', '3. low': '236.1000', '4. close': '236.1500', '5. volume': '2534'}, '2025-03-05 17:35:00': {'1. open': '236.0400', '2. high': '236.2400', '3. low': '236.0000', '4. close': '236.1100', '5. volume': '949'}, '2025-03-05 17:30:00': {'1. open': '236.0699', '2. high': '236.0699', '3. low': '235.7400', '4. close': '236.0300', '5. volume': '28334'}, '2025-03-05 17:25:00': {'1. open': '236.1400', '2. high': '236.2000', '3. low': '236.0012', '4. close': '236.0300', '5. volume': '2704'}, '2025-03-05 17:20:00': {'1. open': '236.1700', '2. high': '236.3000', '3. low': '236.1200', '4. close': '236.1411', '5. volume': '203'}, '2025-03-05 17:15:00': {'1. open': '236.1000', '2. high': '236.3200', '3. low': '236.0400', '4. close': '236.2300', '5. volume': '5500'}, '2025-03-05 17:10:00': {'1. open': '236.0700', '2. high': '236.2350', '3. low': '236.0400', '4. close': '236.1300', '5. volume': '619'}, '2025-03-05 17:05:00': {'1. open': '236.0000', '2. high': '236.2400', '3. low': '236.0000', '4. close': '236.0400', '5. volume': '9261'}, '2025-03-05 17:00:00': {'1. open': '236.0300', '2. high': '236.0800', '3. low': '236.0100', '4. close': '236.0400', '5. volume': '727'}, '2025-03-05 16:55:00': {'1. open': '236.0400', '2. high': '250.5416', '3. low': '236.0000', '4. close': '236.0500', '5. volume': '3185'}, '2025-03-05 16:50:00': {'1. open': '236.0489', '2. high': '247.4438', '3. low': '236.0000', '4. close': '236.0000', '5. volume': '4045'}, '2025-03-05 16:45:00': {'1. open': '236.0600', '2. high': '250.5416', '3. low': '236.0000', '4. close': '236.0500', '5. volume': '5382'}, '2025-03-05 16:40:00': {'1. open': '236.0400', '2. high': '236.1000', '3. low': '235.5000', '4. close': '236.0000', '5. volume': '49238'}, '2025-03-05 16:35:00': {'1. open': '235.9800', '2. high': '236.2400', '3. low': '235.4065', '4. close': '236.0000', '5. volume': '70950'}, '2025-03-05 16:30:00': {'1. open': '235.9000', '2. high': '236.1900', '3. low': '235.8400', '4. close': '235.9000', '5. volume': '13515'}, '2025-03-05 16:25:00': {'1. open': '235.8500', '2. high': '235.9500', '3. low': '235.7000', '4. close': '235.8700', '5. volume': '4736'}, '2025-03-05 16:20:00': {'1. open': '235.7400', '2. high': '235.9800', '3. low': '235.7000', '4. close': '235.8400', '5. volume': '3825'}, '2025-03-05 16:15:00': {'1. open': '235.4700', '2. high': '235.9800', '3. low': '235.4600', '4. close': '235.9800', '5. volume': '9996'}, '2025-03-05 16:10:00': {'1. open': '235.6200', '2. high': '235.7400', '3. low': '234.0676', '4. close': '235.4600', '5. volume': '487251'}, '2025-03-05 16:05:00': {'1. open': '235.7055', '2. high': '235.9000', '3. low': '235.2200', '4. close': '235.6800', '5. volume': '2650441'}, '2025-03-05 16:00:00': {'1. open': '235.7700', '2. high': '236.0000', '3. low': '235.2000', '4. close': '235.6200', '5. volume': '12508122'}, '2025-03-05 15:55:00': {'1. open': '235.9900', '2. high': '236.0750', '3. low': '235.1200', '4. close': '235.8200', '5. volume': '1601148'}, '2025-03-05 15:50:00': {'1. open': '235.4600', '2. high': '236.3900', '3. low': '235.0600', '4. close': '235.9800', '5. volume': '874138'}, '2025-03-05 15:45:00': {'1. open': '235.8700', '2. high': '235.8700', '3. low': '235.3200', '4. close': '235.4800', '5. volume': '323651'}, '2025-03-05 15:40:00': {'1. open': '235.5600', '2. high': '235.9200', '3. low': '235.4000', '4. close': '235.8850', '5. volume': '422044'}, '2025-03-05 15:35:00': {'1. open': '235.5300', '2. high': '235.7350', '3. low': '235.2800', '4. close': '235.5700', '5. volume': '311392'}, '2025-03-05 15:30:00': {'1. open': '236.0100', '2. high': '236.0300', '3. low': '235.3000', '4. close': '235.5150', '5. volume': '343718'}, '2025-03-05 15:25:00': {'1. open': '235.3700', '2. high': '236.1399', '3. low': '235.3300', '4. close': '236.0400', '5. volume': '315608'}, '2025-03-05 15:20:00': {'1. open': '235.7800', '2. high': '235.8829', '3. low': '235.2100', '4. close': '235.3850', '5. volume': '384330'}, '2025-03-05 15:15:00': {'1. open': '236.3550', '2. high': '236.4400', '3. low': '235.4300', '4. close': '235.7945', '5. volume': '390748'}, '2025-03-05 15:10:00': {'1. open': '236.2800', '2. high': '236.4600', '3. low': '236.0600', '4. close': '236.3550', '5. volume': '247488'}, '2025-03-05 15:05:00': {'1. open': '236.0253', '2. high': '236.4800', '3. low': '235.8450', '4. close': '236.2783', '5. volume': '284655'}, '2025-03-05 15:00:00': {'1. open': '235.4700', '2. high': '236.2400', '3. low': '235.4400', '4. close': '236.0269', '5. volume': '227321'}, '2025-03-05 14:55:00': {'1. open': '236.0000', '2. high': '236.0700', '3. low': '235.4600', '4. close': '235.4900', '5. volume': '222037'}, '2025-03-05 14:50:00': {'1. open': '236.0300', '2. high': '236.1900', '3. low': '235.8100', '4. close': '236.0299', '5. volume': '170807'}, '2025-03-05 14:45:00': {'1. open': '235.7800', '2. high': '236.1100', '3. low': '235.6063', '4. close': '236.0050', '5. volume': '209127'}, '2025-03-05 14:40:00': {'1. open': '235.7300', '2. high': '236.0900', '3. low': '235.6100', '4. close': '235.7600', '5. volume': '194995'}, '2025-03-05 14:35:00': {'1. open': '235.8300', '2. high': '235.9100', '3. low': '235.1500', '4. close': '235.6915', '5. volume': '273211'}, '2025-03-05 14:30:00': {'1. open': '235.7700', '2. high': '236.0400', '3. low': '235.7200', '4. close': '235.8250', '5. volume': '183421'}, '2025-03-05 14:25:00': {'1. open': '236.3301', '2. high': '236.3700', '3. low': '235.7200', '4. close': '235.7475', '5. volume': '198281'}, '2025-03-05 14:20:00': {'1. open': '235.8400', '2. high': '236.4600', '3. low': '235.6100', '4. close': '236.3300', '5. volume': '237101'}, '2025-03-05 14:15:00': {'1. open': '236.3200', '2. high': '236.5000', '3. low': '235.7700', '4. close': '235.7700', '5. volume': '266778'}, '2025-03-05 14:10:00': {'1. open': '236.4100', '2. high': '236.5500', '3. low': '236.2301', '4. close': '236.3100', '5. volume': '200991'}, '2025-03-05 14:05:00': {'1. open': '235.8400', '2. high': '236.4400', '3. low': '235.6700', '4. close': '236.4100', '5. volume': '308852'}, '2025-03-05 14:00:00': {'1. open': '235.8350', '2. high': '235.8900', '3. low': '235.4000', '4. close': '235.8400', '5. volume': '242768'}, '2025-03-05 13:55:00': {'1. open': '235.5050', '2. high': '235.8500', '3. low': '235.4900', '4. close': '235.8200', '5. volume': '237451'}, '2025-03-05 13:50:00': {'1. open': '235.2600', '2. high': '235.6000', '3. low': '235.2100', '4. close': '235.5150', '5. volume': '202794'}, '2025-03-05 13:45:00': {'1. open': '234.6584', '2. high': '235.3400', '3. low': '234.6584', '4. close': '235.2650', '5. volume': '177963'}, '2025-03-05 13:40:00': {'1. open': '235.0600', '2. high': '235.1200', '3. low': '234.6000', '4. close': '234.6800', '5. volume': '191560'}, '2025-03-05 13:35:00': {'1. open': '234.5100', '2. high': '235.1100', '3. low': '234.3800', '4. close': '235.0700', '5. volume': '315641'}, '2025-03-05 13:30:00': {'1. open': '234.6653', '2. high': '234.8000', '3. low': '234.1000', '4. close': '234.4800', '5. volume': '256923'}, '2025-03-05 13:25:00': {'1. open': '234.7500', '2. high': '234.8300', '3. low': '231.2400', '4. close': '234.6800', '5. volume': '195885'}, '2025-03-05 13:20:00': {'1. open': '234.8800', '2. high': '235.0200', '3. low': '231.2588', '4. close': '234.7208', '5. volume': '170226'}, '2025-03-05 13:15:00': {'1. open': '234.8100', '2. high': '235.2500', '3. low': '234.5500', '4. close': '234.8900', '5. volume': '194707'}, '2025-03-05 13:10:00': {'1. open': '234.2500', '2. high': '235.2200', '3. low': '234.2400', '4. close': '234.8399', '5. volume': '315162'}, '2025-03-05 13:05:00': {'1. open': '235.2500', '2. high': '235.5400', '3. low': '234.0200', '4. close': '234.3100', '5. volume': '600521'}, '2025-03-05 13:00:00': {'1. open': '234.9450', '2. high': '235.3783', '3. low': '234.7100', '4. close': '235.2500', '5. volume': '347755'}, '2025-03-05 12:55:00': {'1. open': '234.6600', '2. high': '235.0300', '3. low': '234.4400', '4. close': '234.9450', '5. volume': '240593'}, '2025-03-05 12:50:00': {'1. open': '234.4000', '2. high': '235.4000', '3. low': '234.3500', '4. close': '234.6800', '5. volume': '485090'}, '2025-03-05 12:45:00': {'1. open': '234.4950', '2. high': '234.6000', '3. low': '234.1500', '4. close': '234.3900', '5. volume': '384589'}, '2025-03-05 12:40:00': {'1. open': '234.5300', '2. high': '234.6350', '3. low': '234.2100', '4. close': '234.5100', '5. volume': '252569'}, '2025-03-05 12:35:00': {'1. open': '234.1900', '2. high': '234.6490', '3. low': '234.0000', '4. close': '234.4800', '5. volume': '229609'}, '2025-03-05 12:30:00': {'1. open': '234.5400', '2. high': '234.7500', '3. low': '234.0200', '4. close': '234.1730', '5. volume': '471427'}, '2025-03-05 12:25:00': {'1. open': '233.6860', '2. high': '234.6600', '3. low': '233.6800', '4. close': '234.5399', '5. volume': '564057'}, '2025-03-05 12:20:00': {'1. open': '232.8592', '2. high': '233.8880', '3. low': '232.7800', '4. close': '233.6950', '5. volume': '424229'}, '2025-03-05 12:15:00': {'1. open': '232.4912', '2. high': '233.2500', '3. low': '232.4100', '4. close': '232.8900', '5. volume': '354562'}, '2025-03-05 12:10:00': {'1. open': '232.5400', '2. high': '232.7900', '3. low': '232.3500', '4. close': '232.4900', '5. volume': '256427'}, '2025-03-05 12:05:00': {'1. open': '232.4902', '2. high': '232.6800', '3. low': '232.2100', '4. close': '232.5447', '5. volume': '327620'}, '2025-03-05 12:00:00': {'1. open': '232.2000', '2. high': '232.8900', '3. low': '232.1400', '4. close': '232.5000', '5. volume': '475697'}, '2025-03-05 11:55:00': {'1. open': '230.8900', '2. high': '232.4500', '3. low': '230.6600', '4. close': '232.2000', '5. volume': '722691'}, '2025-03-05 11:50:00': {'1. open': '230.0500', '2. high': '230.9300', '3. low': '229.7600', '4. close': '230.8700', '5. volume': '455620'}, '2025-03-05 11:45:00': {'1. open': '229.4700', '2. high': '230.0700', '3. low': '229.3300', '4. close': '230.0700', '5. volume': '550169'}, '2025-03-05 11:40:00': {'1. open': '230.0200', '2. high': '230.0300', '3. low': '229.2300', '4. close': '229.4600', '5. volume': '563223'}}}

In [13]:
symbol = 'AAPL'
years = 1
api_key = PolygonKey
df = get_historical_prices(symbol, years, api_key)
df = df.sort_values(by='date', ascending=False)
# get_historical_prices('AAPL', 2, PolygonKey)
first_two_rows = df.head(20).to_dict(orient='records')

display(df)
print(first_two_rows)

    ticker                date   price      volume
0     AAPL 2025-03-06 05:00:00  236.58  13770398.0
1     AAPL 2025-03-05 05:00:00  235.74  42302890.0
2     AAPL 2025-03-04 05:00:00  235.93  51741183.0
3     AAPL 2025-03-03 05:00:00  238.03  43107096.0
4     AAPL 2025-02-28 05:00:00  241.84  52500888.0
..     ...                 ...     ...         ...
246   AAPL 2024-03-12 04:00:00  173.23  59813522.0
247   AAPL 2024-03-11 04:00:00  172.75  60139473.0
248   AAPL 2024-03-08 05:00:00  170.73  76267041.0
249   AAPL 2024-03-07 05:00:00  169.00  71763761.0
250   AAPL 2024-03-06 05:00:00  169.12  68568907.0

[251 rows x 4 columns]

[{'ticker': 'AAPL', 'date': Timestamp('2025-03-06 05:00:00'), 'price': 236.58, 'volume': 13770398.0}, {'ticker': 'AAPL', 'date': Timestamp('2025-03-05 05:00:00'), 'price': 235.74, 'volume': 42302890.0}, {'ticker': 'AAPL', 'date': Timestamp('2025-03-04 05:00:00'), 'price': 235.93, 'volume': 51741183.0}, {'ticker': 'AAPL', 'date': Timestamp('2025-03-03 05:00:00'), 'price': 238.03, 'volume': 43107096.0}, {'ticker': 'AAPL', 'date': Timestamp('2025-02-28 05:00:00'), 'price': 241.84, 'volume': 52500888.0}, {'ticker': 'AAPL', 'date': Timestamp('2025-02-27 05:00:00'), 'price': 237.3, 'volume': 38720764.0}, {'ticker': 'AAPL', 'date': Timestamp('2025-02-26 05:00:00'), 'price': 240.36, 'volume': 40678483.0}, {'ticker': 'AAPL', 'date': Timestamp('2025-02-25 05:00:00'), 'price': 247.04, 'volume': 44242095.0}, {'ticker': 'AAPL', 'date': Timestamp('2025-02-24 05:00:00'), 'price': 247.1, 'volume': 47951624.0}, {'ticker': 'AAPL', 'date': Timestamp('2025-02-21 05:00:00'), 'price': 245.55, 'volume': 51512975.0}, {'ticker': 'AAPL', 'date': Timestamp('2025-02-20 05:00:00'), 'price': 245.83, 'volume': 29572279.0}, {'ticker': 'AAPL', 'date': Timestamp('2025-02-19 05:00:00'), 'price': 244.87, 'volume': 29840833.0}, {'ticker': 'AAPL', 'date': Timestamp('2025-02-18 05:00:00'), 'price': 244.47, 'volume': 41017789.0}, {'ticker': 'AAPL', 'date': Timestamp('2025-02-14 05:00:00'), 'price': 244.6, 'volume': 38900219.0}, {'ticker': 'AAPL', 'date': Timestamp('2025-02-13 05:00:00'), 'price': 241.53, 'volume': 49812866.0}, {'ticker': 'AAPL', 'date': Timestamp('2025-02-12 05:00:00'), 'price': 236.87, 'volume': 43169179.0}, {'ticker': 'AAPL', 'date': Timestamp('2025-02-11 05:00:00'), 'price': 232.62, 'volume': 49166992.0}, {'ticker': 'AAPL', 'date': Timestamp('2025-02-10 05:00:00'), 'price': 227.65, 'volume': 30219759.0}, {'ticker': 'AAPL', 'date': Timestamp('2025-02-07 05:00:00'), 'price': 227.63, 'volume': 37787606.0}, {'ticker': 'AAPL', 'date': Timestamp('2025-02-06 05:00:00'), 'price': 233.22, 'volume': 28421367.0}]

In [12]:
df['ATH'] = df['price'].max()

df['Recent_High_120'] = df['price'].rolling(window=120, min_periods=1).max()
display(df)

first_row_dict = df.iloc[0:3].to_dict()
display(first_row_dict)

    ticker                date   price      volume     ATH  Recent_High_120
250   AAPL 2025-03-06 05:00:00  236.92  12770511.0  259.02           236.92
249   AAPL 2025-03-05 05:00:00  235.74  42302890.0  259.02           236.92
248   AAPL 2025-03-04 05:00:00  235.93  51741183.0  259.02           236.92
247   AAPL 2025-03-03 05:00:00  238.03  43107096.0  259.02           238.03
246   AAPL 2025-02-28 05:00:00  241.84  52500888.0  259.02           241.84
..     ...                 ...     ...         ...     ...              ...
4     AAPL 2024-03-12 04:00:00  173.23  59813522.0  259.02           234.82
3     AAPL 2024-03-11 04:00:00  172.75  60139473.0  259.02           234.82
2     AAPL 2024-03-08 05:00:00  170.73  76267041.0  259.02           234.82
1     AAPL 2024-03-07 05:00:00  169.00  71763761.0  259.02           234.82
0     AAPL 2024-03-06 05:00:00  169.12  68568907.0  259.02           234.82

[251 rows x 6 columns]

{'ticker': {250: 'AAPL', 249: 'AAPL', 248: 'AAPL'},
 'date': {250: Timestamp('2025-03-06 05:00:00'),
  249: Timestamp('2025-03-05 05:00:00'),
  248: Timestamp('2025-03-04 05:00:00')},
 'price': {250: 236.92, 249: 235.74, 248: 235.93},
 'volume': {250: 12770511.0, 249: 42302890.0, 248: 51741183.0},
 'ATH': {250: 259.02, 249: 259.02, 248: 259.02},
 'Recent_High_120': {250: 236.92, 249: 236.92, 248: 236.92}}

In [15]:
# Iterate through each row to find recent high and all-time high
for index, row in df.iterrows():
    ticker = row["ticker"]
    current_date = row["date"]
    
    # Filter data up to current date within the last 120 days
    window_df = df[(df["ticker"] == ticker) & (df["date"] < current_date) & (df["date"] >= current_date - pd.Timedelta(days=120))]
    
    # Find the highest price in the last 120 days before the current date
    if not window_df.empty:
        recent_high_idx = window_df["price"].idxmax()
        df.at[index, "Recent_High_120"] = window_df.loc[recent_high_idx, "price"]
        df.at[index, "Recent_High_Date"] = window_df.loc[recent_high_idx, "date"]
    
    # Find all-time high for the stock up to the current date
    all_time_high_df = df[(df["ticker"] == ticker) & (df["date"] <= current_date)]
    all_time_high_idx = all_time_high_df["price"].idxmax()
    df.at[index, "All_Time_High"] = all_time_high_df.loc[all_time_high_idx, "price"]
    df.at[index, "All_Time_High_Date"] = all_time_high_df.loc[all_time_high_idx, "date"]

# Select the most recent row (today's data) to display
latest_row = df.iloc[-1:][["ticker", "price", "Recent_High_120", "Recent_High_Date", "All_Time_High", "All_Time_High_Date"]]

# Display or return latest_row
display(latest_row)

,ticker,price,Recent_High_120,Recent_High_Date,All_Time_High,All_Time_High_Date
250,AAPL,169.12,NaN,NaT,169.12,2024-03-06 05:00:00

In [7]:

# Function to process the data for one ticker
def process_single_ticker(ticker):
    # Step 1: Filter data for the specific ticker
    ticker_df = df[df['ticker'] == ticker].sort_values(by='date', ascending=True)

    # Step 2: Calculate All-Time High for the ticker's price
    all_time_high = ticker_df['price'].max()

    # Step 3: Calculate Recent High (last 120 days) using rolling window
    ticker_df['Recent_High_120'] = ticker_df['price'].rolling(window=120, min_periods=1).max()

    # Step 4: Calculate Percent Change from price to Recent_High_120
    ticker_df['Percent_Change_from_Recent_High'] = ((ticker_df['price'] - ticker_df['Recent_High_120']) / ticker_df['Recent_High_120']) * 100

    # Step 5: Create a new dataframe with the necessary columns for the specific ticker
    ticker_result_df = ticker_df[['ticker', 'price', 'volume', 'Recent_High_120', 'Percent_Change_from_Recent_High']].copy()
    ticker_result_df['All_Time_High'] = all_time_high

    # Step 6: Return the result
    return ticker_result_df

# Process the data for AAPL
result_df = process_single_ticker('AAPL')

# Display the result
print(result_df)

    ticker   price      volume  Recent_High_120  \
0     AAPL  169.12  68568907.0           169.12
1     AAPL  169.00  71763761.0           169.12
2     AAPL  170.73  76267041.0           170.73
3     AAPL  172.75  60139473.0           172.75
4     AAPL  173.23  59813522.0           173.23
..     ...     ...         ...              ...
246   AAPL  241.84  52500888.0           259.02
247   AAPL  238.03  43107096.0           259.02
248   AAPL  235.93  51741183.0           259.02
249   AAPL  235.74  42302890.0           259.02
250   AAPL  236.92  12770511.0           259.02

     Percent_Change_from_Recent_High  All_Time_High
0                           0.000000         259.02
1                          -0.070956         259.02
2                           0.000000         259.02
3                           0.000000         259.02
4                           0.000000         259.02
..                               ...            ...
246                        -6.632692         259.02
247                        -8.103621         259.02
248                        -8.914370         259.02
249                        -8.987723         259.02
250                        -8.532160         259.02

[251 rows x 6 columns]